In [24]:
# load in nba2k20 data 
import pandas as pd

In [26]:
nba2k20_raw= pd.read_csv('nba2k-full.csv')

In [28]:
nba2k20_raw

,full_name,rating,jersey,team,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,college,version
0,LeBron James,97,#23,Los Angeles Lakers,F,12/30/84,6-9 / 2.06,250 lbs. / 113.4 kg.,$37436858,USA,2003,1,1,NaN,NBA2k20
1,Kawhi Leonard,97,#2,Los Angeles Clippers,F,06/29/91,6-7 / 2.01,225 lbs. / 102.1 kg.,$32742000,USA,2011,1,15,San Diego State,NBA2k20
2,Giannis Antetokounmpo,96,#34,Milwaukee Bucks,F-G,12/06/94,6-11 / 2.11,242 lbs. / 109.8 kg.,$25842697,Greece,2013,1,15,NaN,NBA2k20
3,Kevin Durant,96,#7,Brooklyn Nets,F,09/29/88,6-10 / 2.08,230 lbs. / 104.3 kg.,$37199000,USA,2007,1,2,Texas,NBA2k20
4,James Harden,96,#13,Houston Rockets,G,08/26/89,6-5 / 1.96,220 lbs. / 99.8 kg.,$38199000,USA,2009,1,3,Arizona State,NBA2k20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Chris Paul,88,#3,Oklahoma City Thunder,G,05/06/85,6-1 / 1.85,175 lbs. / 79.4 kg.,$41358814,USA,2005,1,4,Wake Forest,NBA2k21
460,Bradley Beal,88,#3,Washington Wizards,G,06/28/93,6-3 / 1.91,207 lbs. / 93.9 kg.,$28751774,USA,2012,1,3,Florida,NBA2k21
461,Rudy Gobert,87,#27,Utah Jazz,C,06/26/92,7-1 / 2.16,238 lbs. / 108 kg.,$27525281,France,2013,1,27,NaN,NBA2k21
462,Kyle Lowry,87,#7,Toronto Raptors,G,03/25/86,6-0 / 1.83,205 lbs. / 93 kg.,$30500000,USA,2006,1,24,Villanova,NBA2k21
463,Kristaps Porzingis,87,#6,Dallas Mavericks,F-C,08/02/95,7-3 / 2.21,220 lbs. / 99.8 kg.,$29467800,Latvia,2015,1,4,NaN,NBA2k21

In [30]:
nba2k20_edit= nba2k20_raw.copy()

In [32]:
nba2k20_edit=nba2k20_edit.drop(columns='b_day')

In [34]:
nba2k20_edit=nba2k20_edit.drop(columns='country')

In [36]:
nba2k20_edit=nba2k20_edit.drop(columns='draft_year')

In [38]:
nba2k20_edit=nba2k20_edit.drop(columns='draft_round')

In [40]:
nba2k20_edit=nba2k20_edit.drop(columns='draft_peak')

In [42]:
nba2k20_edit=nba2k20_edit.drop(columns='college')

In [44]:
nba2k20_edit=nba2k20_edit.drop(columns='version')

In [46]:
nba2k20_edit=nba2k20_edit.drop(columns='jersey')

In [48]:
nba2k20_edit.isna().sum()

full_name     0
rating        0
team         23
position      0
height        0
weight        0
salary        0
dtype: int64

In [60]:
nba2k20_edit['height']=nba2k20_edit['height'].str.split('/').str[0]

In [64]:
nba2k20_edit['weight']=nba2k20_edit['weight'].str.split('/').str[0]

In [68]:
nba2k20_edit['weight']=nba2k20_edit['weight'].str.split('lbs.').str[0]

In [76]:
nba2k20_edit.head()

,full_name,rating,team,position,height,weight,salary
0,LeBron James,97,Los Angeles Lakers,F,6-9,250,$37436858
1,Kawhi Leonard,97,Los Angeles Clippers,F,6-7,225,$32742000
2,Giannis Antetokounmpo,96,Milwaukee Bucks,F-G,6-11,242,$25842697
3,Kevin Durant,96,Brooklyn Nets,F,6-10,230,$37199000
4,James Harden,96,Houston Rockets,G,6-5,220,$38199000

In [80]:
def convert_height_to_inches(height_str):
    feet, inches = map(int, height_str.split('-'))
    return feet * 12 + inches

# Apply the function to the 'Height' column
nba2k20_edit['height'] = nba2k20_edit['height'].apply(convert_height_to_inches)

In [82]:
nba2k20_edit

,full_name,rating,team,position,height,weight,salary
0,LeBron James,97,Los Angeles Lakers,F,81,250,$37436858
1,Kawhi Leonard,97,Los Angeles Clippers,F,79,225,$32742000
2,Giannis Antetokounmpo,96,Milwaukee Bucks,F-G,83,242,$25842697
3,Kevin Durant,96,Brooklyn Nets,F,82,230,$37199000
4,James Harden,96,Houston Rockets,G,77,220,$38199000
...,...,...,...,...,...,...,...
459,Chris Paul,88,Oklahoma City Thunder,G,73,175,$41358814
460,Bradley Beal,88,Washington Wizards,G,75,207,$28751774
461,Rudy Gobert,87,Utah Jazz,C,85,238,$27525281
462,Kyle Lowry,87,Toronto Raptors,G,72,205,$30500000
463,Kristaps Porzingis,87,Dallas Mavericks,F-C,87,220,$29467800

In [89]:
nba2k20_edit.to_csv('nba2k20_data_edited.csv')

In [86]:
nba2k20_edit

,full_name,rating,team,position,height,weight,salary
0,LeBron James,97,Los Angeles Lakers,F,81,250,$37436858
1,Kawhi Leonard,97,Los Angeles Clippers,F,79,225,$32742000
2,Giannis Antetokounmpo,96,Milwaukee Bucks,F-G,83,242,$25842697
3,Kevin Durant,96,Brooklyn Nets,F,82,230,$37199000
4,James Harden,96,Houston Rockets,G,77,220,$38199000
...,...,...,...,...,...,...,...
459,Chris Paul,88,Oklahoma City Thunder,G,73,175,$41358814
460,Bradley Beal,88,Washington Wizards,G,75,207,$28751774
461,Rudy Gobert,87,Utah Jazz,C,85,238,$27525281
462,Kyle Lowry,87,Toronto Raptors,G,72,205,$30500000
463,Kristaps Porzingis,87,Dallas Mavericks,F-C,87,220,$29467800